@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

:root {
  --darkBg: #17161B;
  --lightBg: #1D1D1F;
  --redBg: #EA1C24;
}

body {
  background-color: var(--darkBg);
  color: #fff;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 1.1rem 1.5rem;
  border-bottom: 1px solid #8e8e8e;
  border-width: thin;
}

.app-logo {
  width: 15%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap:2rem;
}

.app-navigation {
  flex: 1;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.nav-list a:hover {
  color: var(--redBg);
}

.profile-container {
  display: flex;
  gap:3px;
}

.profile {
  width:2rem;
  height:2rem;
  background-color: #fff;
  border-radius: 100%;
}

.profile-arrow-down {
  color: #fff;
}

footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid grey;
  height: 90px;
  padding: 35px;
}

/* style.css */
/* style.css */
#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 90px;
  margin-left: 110px;
}

.card-movie {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: rgba(126, 6, 10, 0.8); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 15px;
  height: 530px;
}

.card-movie:nth-child(n+4) {
  margin-top: 20px;
}

.card-movie:hover {
  background-color: #000000;
}

.card-movie img {
  width: 100%;
}

.cc1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.card-title {
  margin: 0;
}

.cc1-1 {
  display: flex;
  align-items: center;
}

.cc1-1 i {
  margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
}

.cc1-1 p {
  margin: 0;
  white-space: nowrap; /* Evita el salto de línea entre el ícono y el párrafo */
}


.cc2 {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

